@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

@import './variables.css';

body {
  margin: 0;
  background-color: var(--color-background-light);
  color: var(--color-text-main);
  font-family: var(--font-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
  color: var(--color-primary);
  margin-top: 0;
}

a {
  color: var(--color-accent-cta);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
